@import url("https://fonts.googleapis.com/css?family=Barlow+Condensed:200,300,400,500,600,700,800,900|Barlow:200,300,400,500,600,700,800,900&display=swap");

$font-01: "Barlow",
sans-serif;
$font-02: "Barlow Condensed",
sans-serif;


$m-01: #30a050;
$m-02: #312fc5;

$neu-01: #F7F8FC;
$neu-02: #f1f5f8;
$neu-03: #ECEDEE;
$neu-04: #E0E0E2;
$neu-05: #CECFD2;
$neu-06: #B4B4BA;
$neu-07: #7F8088;
$neu-08: #5A5A5A;
$neu-09: #363636;


@mixin lg {
    @media screen and (max-width: 1919px) {
        @content;
    }
}

@mixin md {
    @media screen and (max-width: 1125px) {
        @content;
    }
}

@mixin sm {
    @media screen and (max-width: 799px) {
        @content;
    }
}

@mixin xs {
    @media screen and (max-width: 512px) {
        @content;
    }
}

@mixin xxs {
    @media screen and (max-width: 320px) {
        @content;
    }
}


* {
    margin: 0;
    padding: 0;
    list-style: none;
    border: 0;
    -webkit-tap-highlight-color: transparent;
    text-decoration: none;
    color: inherit;
    box-sizing: border-box;

    &:focus {
        outline: 0;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}

body {
    font-family: $font-01;
    background-color: white;
}

.wrapper {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 0 5%;

    @include sm {
        padding: 0 40px;
    }
}

.mainNav {
    background-color: gray;
    color: white;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 5%;

    @include sm {
        padding: 0 40px;
    }

    &__logo {
        font-size: 24px;
        font-weight: 600;
    }

    &__links {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    &__linkItem {
        margin-right: 8px;
    }
}